* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 50px;
  background-color: rgb(152, 152, 223);
  width: 75%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
}
#details {
  margin: 10px 90px;
  font-size: 20px;
  font-weight: bold;
}
h2 {
  text-align: center;
  padding: 40px 0;
  text-decoration: underline;
}
#search-box {
  margin-left: 90px;
}
